<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>flickgel - a flickr HTML gallery snippet creator</title>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
  <link href="lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
</head>
<body ng-app="flickgel">

  <div class="container" ng-controller="flickrCtrl">

    <div class="span11 well">
      <h1>Flickgel</h1>
      <p>Share HTML or BBCode for multiple flickr images without
      needing to visit each photo and click 'Share'.</p>
      <p>Useful for creating blog posts or other pages where you want
      to share multiple flickr photos without creating a
      slideshow. Remember to only share photos you have permission to share.</p>
      <p>To use, enter your search details then click "Find
      Photos". Choose a thumbnail size, then copy one or more blocks
      of HTML from the middle column.</p>
      <p>Open source, <a href="https://github.com/projectgus/flickgel">code on github</a>. Created as a learning project, this tool uses the <a href="http://www.flickr.com/services/developer/api/">Flickr API</a> but is not created or endorsed by <a href="http://www.flickr.com/">Flickr</a>.</p>
    </div>

    <div class="row">
      <div class="span4"> <!-- controls sidebar -->
              <label>Flickr username or <abbr title="flickr user ids look like this: 12345678@N32">user id</abbr></label>
              <input name="username" type="text" ng-model="username" ng-change="find_user()" />
              <i class="icon-ok" ng-show="search.user_id"></i>
              <i class="icon-remove" ng-hide="username.length == 0 || username_loading || search.user_id"></i>

              <label>Search Tags (separate with commas)</label>
              <input name="tags" type="text" ng-model="search.tags"/>

              <label>Date Uploaded</label>
              <input name="daterange" type="text" ng-model="dates" ng-daterangepicker="datechanged" />

              <label>Search Text</label>
              <input name="text" type="text" ng-model="search.text" />

              <label>Order</label>
              <label class="radio">
                <input type="radio" name="sort" value="date-posted-desc" ng-model="search.sort">
                Newest photos first
                </input>
              </label>
              <label class="radio">
                <input type="radio" name="sort" value="date-posted-asc" ng-model="search.sort">
                Oldest photos first
                </input>
              </label>

              <div class="span2 offset1">
                <button class="btn" ng-click="run_search()">Find Photos</button>
              </div>

              <label>Thumbnail Size</label>
              <select ng-model="size">
                <option value="sq">Square 75 (75 x 75)</option>
                <option value="q">Square 150 (150 x 150)</option>
                <option value="t">Thumbnail (100 x 67)</option>
                <option value="s">Small 240 (240 x 160)</option>
                <option value="n">Small 320 (320 x 213)</option>
                <option value="m">Medium 500 (500 x 333)</option>
                <option value="z">Medium 640 (640 x 427)</option>
                <option value="c">Medium 800 (800 x 534)</option>
                <option value="l">Large 1024 (1024 x 683)</option>
	      </select>

              <label>Output Format</label>
              <label class="radio">
                <input type="radio" name="format" value="HTML" ng-model="format">HTML</input>
              </label>
              <label class="radio">
                <input type="radio" name="format" value="BBCode" ng-model="format">BBCode</input>
              </label>
      </div>

      <div class="span8" style="vertical-align:middle;">
        <!-- status messages (instead of results) -->
        <div class="row">
          <div class="span8" ng-show="message || error">
            <p class="text-info" ng-show="message && !error">{{message}}</p>
            <p class="text-error" ng-show="error">{{error}}</p>
          </div>
        </div>

        <div class="row" ng-repeat="photo in photos">
          <!-- plain results -->
          <div class="span4" ng-show="format == 'HTML' && !message && !error">
<pre>&lt;a href="http://www.flickr.com/photos/{{photo.url_owner}}/{{photo.id}}" title="{{photo.title}} by {{photo.ownername}}, on Flickr"&gt;&lt;img src="{{ get_size(photo).url }}" width="{{ get_size(photo).width }}" height="{{ get_size(photo).height }}" alt="{{ photo.title }}"&gt;&lt;/img&gt;&lt;/a&gt;</pre>
          </div>
          <div class="span4" ng-show="format == 'BBCode' && !message && !error" style="overflow-wrap: break-word;">
<pre>[url=http://www.flickr.com/photos/{{photo.url_owner}}/{{photo.id}}/][img]{{get_size(photo).url}}[/img][/url][url=http://www.flickr.com/photos/{{photo.url_owner}}/{{photo.id}}/]{{photo.title}}[/url] by [url=http://www.flickr.com/people/{{photo.url_owner}}/]{{photo.ownername}}[/url], on Flickr</pre>
          </div>

          <!-- preview -->
          <div class="span4" ng-hide="message || error"> <!-- HTML formatted results -->
            <a href="http://www.flickr.com/photos/{{photo.url_owner}}/{{photo.id}}" title="{{photo.title}} by {{photo.ownername}}, on Flickr">
              <img src="{{ get_size(photo).url }}" width="{{ get_size(photo).width }}" height="{{ get_size(photo).height }}" alt="{{ photo.title }}"></img>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span6 offset3"><small>Flickgel Copyright 2012 Angus Gratton. Licensed under New BSD License.</small></div>
    </div>

  </div>

 <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/apikey.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="lib/bootstrap-daterangepicker/date.js"></script>
  <script src="lib/bootstrap-daterangepicker/daterangepicker.js"></script>
</body>
</html>
